<template name="header">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{homePage}}">Fortnight</a>
      </div>

      <div class="navbar-nav nav-brand-icon">
        <div class="brand-icon"></div>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{loginButtons}}
        </ul>
      </div>
    </nav>
  </header>
</template>

