<template name="modAcctButtons">
  {{#if currentUser}}

    {{#if profileUrl}}
      {{#if wrapLinks}}<li>{{/if}}
        <a class='profileLink' href='{{profileUrl}}'>{{signedInAs}}</a>
      {{#if wrapLinks}}</li>{{/if}}
    {{else}}
      {{#if wrapLinks}}<li>{{/if}}
        <p class="navbar-text">{{signedInAs}}</p>
      {{#if wrapLinks}}</li>{{/if}}
    {{/if}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/logout">Log out</a>
    {{#if wrapLinks}}</li>{{/if}}

  {{else}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/register">Sign up</a>
    {{#if wrapLinks}}</li>{{/if}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/login">Log in</a>
    {{#if wrapLinks}}</li>{{/if}}

  {{/if}}
</template>
