<template name="task">
  <div class="task" id="{{ _id }}">
    <input class="toggle pull-left" type="checkbox" {{ checked }}>
    <div class="taskName pull-left {{ checked }}">{{ name }}
      <i class="pull-right icon-remove-sign deleteTask"></i>
    </div>
    <div class="input-append taskInputter">
      <input class="span8 nameEdit" type="text" value="{{ name }}" placeholder="Task name">
        <span class="add-on"> ~ </span>
        <input class="span3 estimateEdit" placeholder="1 hour" type="text" value="{{ estimate }}"> 
    </div>
    <div class='inputCover taskInputCover'></div>
  </div>
</template>
