@font-face{
  font-family: GeoSlab;
  src: url('/geoslab.ttf');
}
hr{
  border-top: 1px solid #e1dee4;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #f9f8fa;
  color: #322e35;
}
body{
  font-family: 'proxima-nova', sans-serif;
}
.table > thead > tr > th {
  border: none;
}
.table {
  margin-bottom: 0px;
  background-color: #f9f8fa !important;
}
td {
  border: none !important;
  padding: 0 !important;
  height: 1px;
}
th {
  padding: 0 !important;
}
.innertable{
  height:100%;
}
.padcol{
  padding-left: 8px !important;
}
.planback{
  background-color: #f4f1f5;
}
.brand{
  float: left;
  font-size: 32px;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #3e2d41;
}
.brand:hover{
  text-decoration: none;
  color: #3e2d41;
}

.day, .planday{
  min-height: 100px;
  margin-top: 10px;
  margin-right: 20px;
  float: left;
  width: 100%;
  height: 100%;
}
.dayName, .plandayName{
  text-decoration: none;
  font-weight: 300;
  font-family: 'proxima-nova';
  color: #8c828e;
  font-size: 18px;
  float: left;
}
.todayTag{
  font-weight: 300;
  font-family: 'proxima-nova';
  font-size: 18px;
  color: #e7a550;
  float: left;
}
.inputCover{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  display:none;
  cursor:pointer;
}
.task{
  float:left;
  width:100%;
  font-family: 'museo-sans';
  font-size: 14px;
  margin-bottom: 3px;
}
.task:hover{
  .deleteTask{
    opacity: 0.5;
  }
}

.taskName:hover{
  background-color:#f4f1f5;
  cursor:pointer;
}
.deleteTask{
  padding-top: 2px;
  margin-right: 5px;
}
.plan{
  float:left;
  width:100%;
  margin-bottom: 3px;
  font-family: 'museo-sans';
  font-size: 14px;
}
.plan .taskName:hover{
  background-color: #e1dfe2;
}
.deletePlan{
  padding-top: 2px;
  margin-right: 5px;
}
.plan:hover{

  .deletePlan{
    opacity: 0.5;
  }
}
.beta{
  font-size:10px;
  position:relative;
  top:-10px;
}
.taskLength{
  width:80px;
}
.task span{
  text-decoration:none;
}
.task .taskName{
  width: 92%;
  border-bottom: #e1dee4 solid 1px;
  padding-left: 5px;
  margin-left: 3px;
  height: 19px;
  padding-bottom: 19px;
  padding-top: 2px;
}
.plan .taskName{
  width: 92%;
  padding-left: 5px;
  margin-left: 3px;
  height: 19px;
  padding-bottom: 19px;
  padding-top: 3px;
}
.checked{
  text-decoration:line-through !important;
}
.deleteTask, .deletePlan{
  opacity: 0;
}
.deleteTask:hover, .deletePlan:hover{
  opacity: 0.8 !important;
}
.estimateEdit{
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 0px 4px 4px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
  border-left:none !important;
}
.taskInputter{
  display: none;
  position:relative;
  z-index:3;
  float: left;
  clear: both;
  width: 100%;

  input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1dee4;
    outline: 0;
    font-family: 'museo-sans';
  }
}
.herp{
  opacity: 0.4;
  position:relative;
  z-index:3;
  float: left;
  clear: both;
  width: 100%;
  color: #e1dee4;

  input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1dee4;
    outline: 0;
    font-family: 'museo-sans';
  }
  input:hover{
    cursor: pointer;
  }
}
.taskInputter:hover{
  cursor: pointer;
}
.herp:hover{
  cursor: pointer;
  opacity: 1;
}
.newTaskField{
  width: 75%;
}
.newEstimateField{
  width: 17%;
  margin-left: 11px;
}
.checked{
  text-decoration:line-through !important;
}
.dayHeader{
  font-size:15px;
  text-decoration:underline;
}
.free{
  background-color:#cdf3ff;
}
.onehour{
  background-color:#dfebbf;
}
.twohours{
  background-color:#f2f0b1;
}
.threehours{
  background-color:#fceab4;
}
.fourhours{
  background-color:#fcdeb0;
}
.fivehours{
  background-color:#f5bebf;
}
.ui-state-hover{
  border: 1px dashed #CCC;
  background: #EEE;
  color: #000;
  font-weight:normal;
}
.ui-state-active{
  border: 1px dashed #ccc;
  background: #FFF;
  color: #000;
  font-weight:normal;
}
.nav-brand-icon{
  position: absolute;
  margin-left: -23px;
  left: 50%;
}
.brand-icon{
  background-image: url("/fortnight_moon.png");
  width: 46px;
  height: 49px;
}
.dropdown-toggle{
  font-family: 'proxima-nova';
  font-size: 18px;
  color: #635b65;
}
.dropdown-toggle:hover{
  color: #635b65;
}
th{
  font-family: 'proxima-nova';
  font-size: 18px;
  font-weight: 600;
  color: #635b65;
}
.color{
  padding: 0px !important;
}
.pushdown{
  margin-top:20px;
}
.autoplan{
  font-family: 'proxima-nova';
  font-size: 18px;
  font-weight: 600;
  color: #635b65;
}
.autoplan:hover{
  color: #848085;
  text-decoration:none;
  cursor:pointer;
}
.chevron-left{
  background-image: url('/chevronleft.png');
  width: 14px;
  height: 25px;
  margin-right: 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.chevron-left:hover{
  cursor:pointer;
}
.chevron-right{
  background-image: url('/chevronright.png');
  width: 14px;
  height: 25px;
  padding-left: 12px;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.chevron-right:hover{
  cursor:pointer;
}
