.day, .planday{
  min-height: 100px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  width: 100%;
}
.dayName, .plandayName{
  text-decoration: underline;
  font-weight: bold;
}
.inputCover{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  display:none;
  cursor:pointer;
}
.task{
  float:left;
  width:100%;
}
.task:hover{
  background-color:#EEE;
  cursor:pointer;

  .deleteTask{
    opacity: 0.5;
  }
}
.plan{
  float:left;
  width:100%;

}
.plan:hover{
  background-color:#EEE;

  .deletePlan{
    opacity: 0.5;
  }
}
.beta{
  font-size:10px;
  position:relative;
  top:-10px;
}
.taskLength{
  width:80px;
}
.task span{
  text-decoration:none;
}
.taskName{
  width:90%;
}
.checked{
  text-decoration:line-through !important;
}
.deleteTask, .deletePlan{
  opacity: 0;
}
.deleteTask:hover, .deletePlan:hover{
  opacity: 0.8 !important;
}
.estimateEdit{
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 0px 4px 4px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
  border-left:none !important;
}
.herp{
  display: inherit;
  width: 100%;
  height: 30px;
  float: left;
  opacity: 0.2;
  color: #333;
}
.herp:hover{
  background-color: #FFF;
  cursor: pointer;
  opacity: 0.6;
}
.taskInputter{
  display:none;
  position:relative;
  z-index:3;
  float:left;
}
.checked{
  text-decoration:line-through !important;
}
.dayHeader{
  font-size:15px;
  text-decoration:underline;
}
.white{
  background-color: #FFF;
}
.green{
  background-color: #d6f5d8;
}

.yellow{
  background-color: #f8f4ba;
}

.red{
  background-color: #f7aeae;
}
.ui-state-hover{
  border: 1px dashed #CCC;
  background: #EEE;
  color: #000;
  font-weight:normal;
}
.ui-state-active{
  border: 1px dashed #ccc;
  background: #FFF;
  color: #000;
  font-weight:normal;
}
