<template name="day">
  <div class="day">
    <span class="dayName">{{ this.dayName }}</span>
    {{#each this.tasks }}
      {{> task}}
    {{/each}}

    <!-- task inputter -->
    <div class="herp">New Task</div>
    <div class="input-append taskInputter">
        <input class="span6 checker" type="text" placeholder="Task name">
        <span class="add-on"> ~ </span>
        <input class="span3 estimate checker" placeholder="1 hour" type="text">
    </div>
    <div class="inputCover"></div>
  </div>
</template>
