<template name="day">
<table class="table innertable">
  <tr>
    <td>
      <div class="day">
        <span class="dayName">{{ name }}</span><span class="todayTag">{{ today }}</span>
        {{#each todayTasks}}
          {{> task}}
        {{/each}}

        <!-- task inputter -->
        <div class="herp">
          <input class="span6 checker newTaskField" type="text" placeholder="New Task">
          <input class="span3 estimate checker newEstimateField" placeholder="1 hour" type="text">
        </div>
        <div class="taskInputter">
            <input class="span6 checker newTaskField" type="text" placeholder="New Task">
            <input class="span3 estimate checker newEstimateField" placeholder="1 hour" type="text">
        </div>
        <div class="inputCover dayInputCover"></div>
      </div>
    </td>
    <td class="color {{heatmap}}" width=12></td>
  </tr>
</table>
</template>
