<template name="aboutPage">
  <div class="container">
    {{> header}}
  </div>
  <hr id="topLine">
  <div class="container">
    <div class="row">
      <div class="col-md-12 push-this-down-ish aliase">
        <div class="boom-text purple-this">Hello!</div>
        <div class="bang-text space-out">I'm Oliver. Thanks for your interest- I really appreciate it! Fortnight is my personal system for staying organized. I've been using it for about a year and a half now, and it truly works wonders. I hope it will help you too.</div>

        <div class="boom-text purple-this push-this-down-less">FAQ</div>
        <div class="bam-text space-out" style="margin-top:20px;">Q: What is Fortnight?</div>
        <div class="bang-text space-out">A: Fortnight is a todo list. Every Sunday, you put down all the tasks you have to do for the next two weeks. Then, Fortnight will help you load balance your workload.</div>

        <div class="bam-text space-out space-top">Q: Seriously? Another todo list?</div>
        <div class="bang-text space-out">A: This one is different! Okay, everybody says that. The special thing about Fortnight is that it gives you peace of mind after you've finished your tasks for the day. No more long term projects or half forgotten assignments creeping at the back of your mind. It's liberating!</div>

        <div class="bam-text space-out space-top">Q: Who is it geared for?</div>
        <div class="bang-text space-out">A: Students. Really, it will work for anyone with a two-week task turnaround, but I find that this fits the pace of academics perfectly. Also, Fortnight really shines if you're visual-spatial!</div>

        <div class="bam-text space-out space-top">Q: What are my commitments?</div>
        <div class="bang-text space-out">A: Every week, preferably on Sunday, put in the tasks for next week. This will help you get a mental picture for the week before you're in the middle of it.</div>

        <div class="bam-text space-out space-top">Q: Do I have to use Autoplan?</div>
        <div class="bang-text space-out">A: No. In fact, I find that it's better not to. It's the time that you spend planning out your week that actually solidifies your mental picture of the week.</div>

        <div class="bam-text space-out space-top">Q: How do I make plans?</div>
        <div class="bang-text space-out">A: Just drag your task to a day in the plan column! Of course, you can also hit Autoplan, and it will create them all for you.</div>
        
        <div class="bam-text space-out space-top">Q: Do I have to put down an estimate for every task?</div>
        <div class="bang-text space-out">A: If you don't enter an estimate, it will default to 1 hour.</div>

        <div class="bam-text space-out space-top">Q: How do I edit tasks?</div>
        <div class="bang-text space-out">A: Double click on them.</div>
      </div>
    </div><!--row-->
  </div><!--container-->
  <hr id="lastLine" style="margin-top:150px;margin-bottom:30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{> footer }}
      </div>
    </div>
  </div>
</template>
