<template name="homePage">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody>
        {{#with data}}
          {{#each augmentedCountit }}<!--tr-->
          <tr>
            <td style="width:33%">
              {{> day }}
            </td>
            <td style="width:1%">
              <div class="colors"></div>
            </td>
            <td style="width:32%">
              {{> planday }}
            </td>
            <td style="width:1%">
              <div class="colors"></div>
            </td>
            <td style="width:33%">
              {{> nextday }}
            </td>
          </tr>
          {{/each}}
        {{/with}}
        </tbody>
      </table>
    </div>
  </div>
</template>
