<template name="homePage">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>DUE THIS WEEK</th>
            <th>PLAN THIS WEEK</th>
            <th>DUE NEXT WEEK</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}<!--tr-->
            {{#each taskGroups}}<!--td-->
              {{> taskGroup}}
            {{/each}}
          {{/each}}
          </tbody>
      </table>
    </div>
  </div>
</template>
