<template name="landingPage">
  <div id="brocontainer"></div>
  <div class="container hero-stuff">
    <div class="row" style="height: 100%;">
      <div class="col-md-12 center-this">
        <div class="huge">STOP WORRYING ABOUT PRODUCTIVITY</div>
        <div class="subtitle">Scoped, heat-mapped, load balanced todos.</div>
        <div class="buttons">
          <a class="learnbutton"> LEARN MORE </a>
          <a class="signupbutton"> SIGN UP </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      {{> header }}
      </div>
    </div>
  </div>
  <hr id="secondLine" style="margin-bottom:0px;margin-top:18px;">
  <div class="container">
    <div class="row">

    </div>
  </div>

</template>
