<template name="landingPage">
  <div id="brocontainer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>STOP WORRYING ABOUT PRODUCTIVITY</h1>
        <subtitle>Scoped, heat-mapped, load balanced todos.</subtitle>
        <a class="btn btn-primary btn-lg"> LEARN MORE </a>
        <a class="btn btn-primary btn-lg"> SIGN UP </a>
      </div>
    </div>
  </div>
  <hr id="topLine">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      {{> header }}
      </div>
    </div>
  </div>
  <hr id="secondLine" style="margin-bottom:0px;margin-top:18px;">
  <div class="container">
    <div class="row">

    </div>
  </div>

</template>
