<template name="landingPage">
  <div id="brocontainer">
    <!-- <video preload autoplay width=100% height=100% loop> -->
    <!--   <source type="video/mp4" src="http://www.olli.es/clouds.mp4"> -->
    <!--   <source type="video/ogg" src="http://www.olli.es/clouds.ogg"> -->
    <!-- </video> -->
  </div>
  <div class="container hero-stuff">
    <div class="row" style="height: 100%; position:relative;">
      <div class="col-md-12 center-this shift-down">
        <div class="huge">STOP WORRYING ABOUT PRODUCTIVITY</div>
        <div class="subtitle">Scoped, heat-mapped, load balanced todos.</div>
        <div class="buttons">
          <a class="learnbutton" href="/about"> LEARN MORE </a>
          <a class="signupbutton" href="/register"> SIGN UP </a>
        </div>
      </div>
      <div class="downArrow"></div>
    </div>
  </div>
  <div class="container" id="scroll-target">
    <div class="row">
      <div class="col-md-12">
      {{> header }}
      </div>
    </div>
  </div>
  <hr id="secondLine" style="margin-bottom: 110px;margin-top:18px;">
  <div class="container aliase">
    <div class="row">
      <div class="col-md-12 center-this">
        <p class="contract">Once a week, <span class="purple-this">put in next-next-week's tasks</span>.</p>
        <p class="contract">Here's what you'll get.</p>
      </div>
    </div>
    <div class="row whitespace">
      <div class="col-md-5 push-this-down">
        <div class="boom-text purple-this">Discover free time</div>
        <div class="beam-text">Stop feeling bad about not doing those long-term projects. Fortnight will give you the peace of mind to enjoy truly free time.</div>
      </div>
      <div class="col-md-7">
        <div class="discovergif"></div>
      </div>
    </div>
    <div class="row whitespace">
      <div class="col-md-7">
        <div class="heatmapgif"></div>
      </div>
      <div class="col-md-5 align-right push-this-down">
        <div class="boom-text purple-this">Know your limits</div>
        <div class="beam-text">Totally roasted this week? Fortnight prevents work from sneaking up on you. With heat-mapping, you’ll know exactly what’s going on- all the time.</div>
      </div>
    </div>
    <div class="row whitespace">
      <div class="col-md-5 push-this-down">
        <div class="boom-text purple-this">React with time to spare</div>
        <div class="beam-text">Fortnight gives you awareness. With that awareness comes preemptive power. Huge project due next Thursday? Split it up and finish it by the weekend.</div>
      </div>
      <div class="col-md-7">
        <div class="planninggif"></div>
      </div>
    </div>
  </div><!--close container-->

  <hr style="margin-top: 110px;margin-bottom:30px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12 contract center-this">
        <div style=" float: left; position: relative; left: 50%; margin-left: -200px; ">
          <span class="contract aliase pull-left" style="margin-top:21px;">Sound good?</span>
          <a href='/register' class="signupbutton-bottom pull-left"> SIGN UP </a>
        </div>
      </div>
    </div>
  </div><!--close container-->

  <hr style="margin-top:30px; margin-bottom:30px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{> footer }}
      </div>
    </div>
  </div>
</template>
